{% extends 'lista/base.html' %}

<!-- Carrega o static -->
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

            <h2 class="section-heading mb-4">
              <!-- Aqui você coloca o título da página -->
              <span class="section-heading-lower"> {{ titulo }} </span>
            </h2>

            {% if botao == 'Excluir'  %}
            <h4>
              Deseja excluir este registro: {{object}}
            </h4>
            {% endif %}
            
            <!-- I N I C I O -->
            <!-- Aqui vai o código do conteúdo da sua página -->
            <form method="POST">

              <!---#todo formulario precisa dessa validacao-->
              {% csrf_token %}

              {{ form|crispy}}

              <div class="my-4">
                <button type="submit" class="btn {{ classbotao }}">{{botao}}</button>
                <a href="{% url 'index' %}" class="btn btn-secondary">Voltar</a>
              </div>

            </form>




            <!-- Fim do código da sua página -->
            <!-- F I M -->

        </div>
      </div>

    </div>
  </section>



{%endblock%}